.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 13rem;
  width: 60%;
  max-width: 28rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  z-index: 101;
  overflow-y: auto;
}
