nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 6rem;
  padding: 0 4rem;
  height: 100%;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
}

nav li:hover {
  background-color: #777;
}

.active {
  background-color: #555;
}
.chevron {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
}

.mobileNavigation {
  display: none;
}
.navbar {
  height: 4rem;
}

.logo {
  font-size: 2.5rem;
  margin: auto 0;
}
.logo:hover {
  color: #2568b4;
}

.navigation {
  justify-content: left;
}

.navLogo {
  font-size: 1.8rem;
  margin: 0 auto;
}
.navigation ul li a .navItem.hidden {
  display: none;
}

.navItem {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

@media (max-width: 830px) {
  .navigation {
    display: none;
  }
  .mobileNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    font-size: 1.5rem;
    position: absolute;
    top: 1.2rem;
    right: 5%;
    cursor: pointer;
  }
  .navbar nav ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    background-color: #333;
    height: auto;
    width: 100%;
    border-top: #777 1px solid;
    z-index: 99;
  }
  .navbar nav ul li {
    font-size: 1.2rem;
    height: 4rem;
  }
  .navItem {
    margin: 0 auto;
  }
}
