* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
}
body {
  min-height: 100%;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
h1 {
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  width: 80%;
  max-width: 1300px;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
li,
svg,
nav {
  user-select: none;
}
.id {
  text-align: center;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
article {
  margin: 4rem auto;
  width: 60%;
  max-width: 900px;
  text-align: justify;
  line-height: 1.2rem;
  font-size: 1.1rem;
}
article h1 {
  line-height: 1.6rem;
}
.act {
  background-color: #2568b4;
}
.active {
  background-color: #555;
}
.back {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1.3rem;
  margin-left: 3.2rem;
  background-color: #2568b4;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 1rem;
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #383636;
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  article {
    width: 80%;
    font-size: 0.9rem;
  }
  .back {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
@media (max-width: 400px) {
  .container {
    width: 95%;
  }
}
